<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="StrCnn" connectionString="server=DESKTOP-MR5HALG;uid=sa;pwd=Sa123;database=ExampleDB" />
    <add name="登录案例.Properties.Settings.ExampleDBConnectionString"
      connectionString="Data Source=127.0.0.1;Initial Catalog=ExampleDB;Persist Security Info=True;User ID=sa;Password=Sa123"
      providerName="System.Data.SqlClient" />
    <add name="登录案例.Properties.Settings.ExampleDBConnectionString1"
      connectionString="Data Source=DESKTOP-MR5HALG;Initial Catalog=ExampleDB;Persist Security Info=True;User ID=sa;Password=Sa123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>